<div ng-include="'components/navbar/navbar.html'"></div>

<div class="row" style="background-color:#06c;min-height:800px">

  <div class="container">
      <div class="col-sm-12" style="margin-top:50px;margin-bottom:50px">
        <h1 style="color: #fff"><strong>Document Digest: </strong><small style="color: #fff">{{hash}}</small></h1>
      </div>
      <div class="col-sm-12" style="background-color: #fff; border-radius: 15px">
        <div class="row" style="margin:50px">
          <div class="col-sm-12" ng-show="Address != null">
            <h1 class="text-center"> Waiting for Payment</h1>
            <h4 class="text-center"> In order to have DiguSign certify this documents digest you need to pay to embed it in the DigiByte blockchain (this also covers our costs)</h4>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <div id="qrcode" ></div>
              </div>
              <div class="col-sm-4 col-sm-offset-2 text-center">
                <span style="font-size:1.3em">Please send a minimum of <strong>2 DGB</strong> to:<br>
                <br>
                <strong><a ng-href="digibyte:{{Address}}?amount=2">{{Address}}</a></strong></span>
                <img src="assets/images/loading.gif" style="width:100px;margin-top:2.5em;margin-bottom:2.5em"/>
                <br>
                <p style="font-size:1.3em;"> The page will refresh when payment has been received</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>