<div ng-include="'components/navbar/navbar.html'"></div>


<div class="row" style="background-color:#06c;min-height:800px">
  <div class="container">
    <div class="col-sm-12" style="margin-top:25px; font-family: 'FFMark', 'Helvetica Neue', 'Helvetica', sans-serif;  color:#fff">
      <h1 class="text-center"><strong>Easily sign any file you want!</strong></h1>
      <h4 class="text-center">The SHA256 Digest is computed client side and the file is never uploaded to our servers</h4>
    </div>
    <div class="col-sm-12" style="background-color: #fff; border-radius: 15px; margin-top:50px">
      <form class="form" name="form" ng-submit="documentSubmit(form)" novalidate>

        <div class="col-sm-12 text-left" style="margin-top:15px">
          <div class="row">
            <div class="col-sm-3">
              <label for="docType" >Choose a Document Type:</label>
            </div>
            <div class="col-sm-9">
              <select ng-options="item as item.name for item in docTypes track by item.code" ng-model="selected"></select>
            </div>
          </div>
        </div>


        <div class="col-sm-12 text-left" style="margin-top:15px">

          <div ngf-drop ngf-select ng-model="files" class="upload-box" 
              ngf-drag-over-class="'dragover'">Drop your document here</div>
          <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
        </div>

        <div class="col-sm-12" style="margin-top:15px;">
          Document Hash:
          <pre class="text-center">
            <div style="margin-top:5px; font-size:1.2em"> {{hash}}</div>
          </pre>
        </div>

        <div class="col-sm-12 text-center" >
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Submit
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
