<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

          <accordion>
            <accordion-group is-open="isFirstOpen" ng-if="users.length > 0">
              <accordion-heading>
                  <div>
              <i class="glyphicon glyphicon-credit-card"></i>
                  <strong>{{users[0].name}}</strong>
                  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isFirstOpen, 'glyphicon-chevron-right': !isFirstOpen}"></i>
                </div>
              </accordion-heading>
              <div>
                <div class="col-sm-6">
                  Email: 
                </div>
                <div class="col-sm-4 text-right">
                  {{users[0].email}}
                </div>
              </div>
            </accordion-group>

        <!-- All Remaining Groups -->
            <accordion-group ng-repeat="user in users.slice(1)" is-open="isOpen">
              <accordion-heading>
                  <div>
              <i class="glyphicon glyphicon-credit-card"></i>
                  <strong>{{user.name}}</strong>
                  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}"></i>
                </div>
              </accordion-heading>
              <div>
                <div class="row">
                  <div class="col-sm-6">
                    Email: 
                  </div>
                  <div class="col-sm-4 text-left" ng-model="user">
                    {{user.email}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    Verified: 
                  </div>
                  <div class="col-sm-4 text-left">
                    {{user.isVerified}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    Balance: 
                  </div>
                  <div class="col-sm-4 text-left">
                    {{user.balance}}
                  </div>
                </div>
                <div class="row" style="margin-top:50px">
                  <div class="col-sm-4" style="font-size:2em">
                    Fund Account: 
                  </div>
                  <div class="col-sm-2 col-sm-offset-2 text-left">
                    <input type="number" ng-model="amount" placeholder="Funding Amount">
                  </div>
                  <div class="col-sm-4 text-left" style="padding-left:50px">
                    <btn class="btn" ng-click="fundAccount(user, amount)">Fund
                    </btn>
                  </div>
                </div>
              </div>
            </accordion-group>
          </accordion>

</div>