<div ng-include="'components/navbar/navbar.html'"></div>


<div class="row" style="background-color:#06c;min-height:800px">
  <div class="container">

      <div class="col-sm-12 text-center" style="margin-top:50px; margin-bottom:50px; color:#fff">
        <h1><strong>Forgot Password</strong></h1>
      </div>
      <div class="col-sm-12" style="background-color: #fff; border-radius: 15px">
        <div class="row" style="margin:50px">
          <form class="form" name="form" ng-submit="forgot(form)" novalidate>

            <div class="form-group">
              <label>Email</label>

              <input type="email" name="email" class="form-control" ng-model="formData.email" required>
            </div>

            <div>
              <button class="btn btn-inverse btn-lg btn-login" type="submit">
                Reset Password
              </button>
            </div>

          </form>
        </div>
      </div>
  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>