<div ng-include="'components/navbar/navbar.html'"></div>


<div class="row" style="background-color:#06c;min-height:800px">
  <div class="container">
      <div class="col-sm-12 text-center" style="margin-top:50px; margin-bottom:50px; color:#fff">
        <h1 style="color: #fff"><strong>Document Digest: </strong><small style="color: #fff">{{hash}}</small></h1>
      </div>
      <div class="col-sm-12" style="background-color: #fff; border-radius: 15px">
        <div class="row" style="margin:50px">
          <div class="text-left">
            <h1 class="text-center">Document Successfully Certified!</h1>
            <hr>
            <h4>Registered on DiguSign at: <medium style="color: #000; float:right">{{(timeRegistered * 1000) | date:'medium'}}</medium></h4>
            <h4>Embedded on the blockchain at: <medium style="color: #000; float:right" >{{(timeBroadcast * 1000) | date:'medium'}}</medium></h4>
            <h4>Document Transaction ID: <medium style="color: #000; float:right"><a ng-href="http://digiexplorer.info/tx/{{txid}}">{{txid}}</a></medium></h4>
          </div>
          <div class="text-center" style="margin-top:25px">
            <h3>This documents digest is now embedded in the DigiByte blockchain forever, any alterations to the original document
                will result in a different digest. To verify your document against one previously ceritified by us simply submit it again
                or use our <a href="/verify">verification tool</a></h3>
          </div>

        </div>
      </div>
  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>
