<div ng-include="'components/navbar/navbar.html'"></div>


<div class="row" style="background-color:#06c;min-height:800px">

  <div class="container">

      <div class="col-sm-12 text-center" style="margin-top:50px; margin-bottom:50px; color:#fff">
        <h1><strong>Login</strong></h1>
      </div>
      <div class="col-sm-12" style="background-color: #fff; border-radius: 15px">
        <div class="row" style="margin:50px">
          <form class="form" name="form" ng-submit="login(form)" novalidate>

            <div class="form-group">
              <label>Email</label>

              <input type="email" name="email" class="form-control" ng-model="user.email" required>
            </div>

            <div class="form-group">
              <label>Password</label>

              <input type="password" name="password" class="form-control" ng-model="user.password" required>
            </div>

            <div class="form-group has-error">
              <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                 Please enter your email and password.
              </p>
              <p class="help-block" ng-show="form.email.$error.email && submitted">
                 Please enter a valid email.
              </p>

              <p class="help-block">{{ errors.other }}</p>
            </div>

              <button class="btn btn-inverse btn-lg btn-login" type="submit">
                Login
              </button>
              <a class="btn btn-default btn-lg btn-register" href="/signup">
                Register
              </a>

          </form>

          <div class="col-md-12">
            <span><a href="/account/forgot">Forgot your password?</a></span>
          </div>

        </div>
      </div>
  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>