<div ng-include="'components/navbar/navbar.html'"></div>

<div class="row" style="background-color:#06c;min-height:800px">

  <div class="container">

    	<div class="panel panel-info" ng-repeat="doc in user.storedDocuments  track by $index">
    		<div class="panel-heading">
    			{{doc}}
    		</div>
    		<div class="panel-body">
          <a href="http://digiexplorer.info/tx/{{doc}}">View </a> on the blockchain
    		</div>
    	</div>

  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>