<div class="row text-center" style="background-color:#f4f4f4">

	<footer class="area" style="margin-top:50px">
        <div class="container">
            <div class="col-md-4 col-sm-6 hero-feature" >
                <div>
                    <h2><strong>Contact Us</strong></h2>
                    <div class="textwidget">
                        <td class="icon"><a href="https://www.facebook.com/digibytecoin/" style="margin:10px"><i class="fa fa-facebook fa-4x text-center" style="margin-top:25px;margin-bottom: 20px; color:#06c"></i></a></td>
                        <td class="icon"><a href="https://twitter.com/DigiByteCoin" style="margin:10px"><i class="fa fa-twitter fa-4x text-center" style="margin-top:25px;margin-bottom: 20px; color:#06c"></i></a></td>
                        <td class="icon"><a href="https://www.youtube.com/user/DigiByteCoin" style="margin:10px"><i class="fa fa-youtube fa-4x text-center" style="margin-top:25px;margin-bottom: 20px; color:#06c"></i></a></td>
                        <td class="icon"><a href="mailto://dev@digibyte.co" style="margin:10px"><i class="fa fa-envelope fa-4x text-center" style="margin-top:25px;margin-bottom: 20px; color:#06c"></i></a></td>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 hero-feature" >
                <div>
                    <h2><strong>DigiByte Links</strong></h2>
                    <div class="textwidget">
                        <ul style="list-style:none; margin-top:25px">
                            <li><a href="http://digibyte.co"><h3><strong>Digibyte.co</strong></h3></a></li>
                            <li><a href="https://digiexplorer.info"><h3><strong>Digiexplorer</strong></h3></a></li>
                            <li><a href="https://bitcointalk.org/index.php?topic=408268.0"><h3><strong>Bitcointalk</strong></h3></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 hero-feature" >
                <div>
                    <h2><strong>Powered By</strong></h2>
                    <div class="textwidget">
                        <a href="http://digibyte.co"><img src="assets/images/digibyte.png" style="width:60%"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>