
/**
 * Bootstrap Fonts
 */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/**
 *Font Awesome Fonts
 */

@font-face {
    font-family: 'FontAwesome';
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/*---------------------------------------
[ Table of contents ]
01. fonts
02. general
03. to top
04. liquid
05. pagination
06. jumbotron
07. footer
08. comment
09. search
10. thumbnail
11. portfolio
12. single portfolio
13. messages
14. recent posts
15. widgets
16. progress bar
17. selector 
18. reset
19. gallery
20. navigation 
21. miscellaneous 
----------------------------------------*/
/* 01. fonts */
@font-face {
    font-family: 'open_sansbold';
    src: url(fonts/opensans-bold-webfont.eot);
    src: url(fonts/opensans-bold-webfont.eot?#iefix) format("embedded-opentype"), 
    url(fonts/opensans-bold-webfont.woff) format("woff"), 
    url(fonts/opensans-bold-webfont.ttf) format("truetype"), 
    url(fonts/opensans-bold-webfont.svg#open_sansbold) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'open_sansbold_italic';
    src: url(fonts/opensans-bolditalic-webfont.eot);
    src: url(fonts/opensans-bolditalic-webfont.eot?#iefix) format("embedded-opentype"), 
    url(fonts/opensans-bolditalic-webfont.woff) format("woff"), 
    url(fonts/opensans-bolditalic-webfont.ttf) format("truetype"), 
    url(fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'open_sans_condensedbold';
    src: url(fonts/opensans-condbold-webfont.eot);
    src: url(fonts/opensans-condbold-webfont.eot?#iefix) format("embedded-opentype"), 
    url(fonts/opensans-condbold-webfont.woff) format("woff"), 
    url(fonts/opensans-condbold-webfont.ttf) format("truetype"), 
    url(fonts/opensans-condbold-webfont.svg#open_sans_condensedbold) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'open_sanscondensed_light';
    src: url(fonts/opensans-condlight-webfont.eot);
    src: url(fonts/opensans-condlight-webfont.eot?#iefix) format("embedded-opentype"), 
    url(fonts/opensans-condlight-webfont.woff) format("woff"), 
    url(fonts/opensans-condlight-webfont.ttf) format("truetype"), 
    url(fonts/opensans-condlight-webfont.svg#open_sanscondensed_light) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'open_sansCnLtIt';
    src: url(fonts/opensans-condlightitalic-webfont.eot);
    src: url(fonts/opensans-condlightitalic-webfont.eot?#iefix) format("embedded-opentype"), 
    url(fonts/opensans-condlightitalic-webfont.woff) format("woff"), 
    url(fonts/opensans-condlightitalic-webfont.ttf) format("truetype"), 
    url(fonts/opensans-condlightitalic-webfont.svg#open_sansCnLtIt) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url(fonts/opensans-extrabold-webfont.eot);
    src: url(fonts/opensans-extrabold-webfont.eot?#iefix) format("embedded-opentype"),        
    url(fonts/opensans-extrabold-webfont.woff) format("woff"), 
    url(fonts/opensans-extrabold-webfont.ttf) format("truetype"), 
    url(fonts/opensans-extrabold-webfont.svg#open_sansextrabold) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url(fonts/opensans-extrabolditalic-webfont.eot);
    src: url(fonts/opensans-extrabolditalic-webfont.eot?#iefix) format("embedded-opentype"), 
    url(fonts/opensans-extrabolditalic-webfont.woff) format("woff"), 
    url(fonts/opensans-extrabolditalic-webfont.ttf) format("truetype"), 
    url(fonts/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'open_sansitalic';
    src: url(fonts/opensans-italic-webfont.eot);
    src: url(fonts/opensans-italic-webfont.eot?#iefix) format("embedded-opentype"), 
    url(fonts/opensans-italic-webfont.woff) format("woff"), 
    url(fonts/opensans-italic-webfont.ttf) format("truetype"), 
    url(fonts/opensans-italic-webfont.svg#open_sansitalic) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'open_sanslight';
    src: url(fonts/opensans-light-webfont.eot);
    src: url(fonts/opensans-light-webfont.eot?#iefix) format("embedded-opentype"), 
    url(fonts/opensans-light-webfont.woff) format("woff"), 
    url(fonts/opensans-light-webfont.ttf) format("truetype"), 
    url(fonts/opensans-light-webfont.svg#open_sanslight) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'open_sanslight_italic';
    src: url(fonts/opensans-lightitalic-webfont.eot);
    src: url(fonts/opensans-lightitalic-webfont.eot?#iefix) format("embedded-opentype"), 
    url(fonts/opensans-lightitalic-webfont.woff) format("woff"), 
    url(fonts/opensans-lightitalic-webfont.ttf) format("truetype"), 
    url(fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'open_sansregular';
    src: url(fonts/opensans-regular-webfont.eot);
    src: url(fonts/opensans-regular-webfont.eot?#iefix) format("embedded-opentype"), 
    url(fonts/opensans-regular-webfont.woff) format("woff"), 
    url(fonts/opensans-regular-webfont.ttf) format("truetype"), 
    url(fonts/opensans-regular-webfont.svg#open_sansregular) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url(fonts/opensans-semibold-webfont.eot);
    src: url(fonts/opensans-semibold-webfont.eot?#iefix) format("embedded-opentype"), 
    url(fonts/opensans-semibold-webfont.woff) format("woff"), 
    url(fonts/opensans-semibold-webfont.ttf) format("truetype"), 
    url(fonts/opensans-semibold-webfont.svg#open_sanssemibold) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url(fonts/opensans-semibolditalic-webfont.eot);
    src: url(fonts/opensans-semibolditalic-webfont.eot?#iefix) format("embedded-opentype"), 
    url(fonts/opensans-semibolditalic-webfont.woff) format("woff"), 
    url(fonts/opensans-semibolditalic-webfont.ttf) format("truetype"), 
    url(fonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic) format("svg");
    font-weight: 400;
    font-style: normal
}
/* 02. general */
#body .border,
body {
    background: #f6f6f6 url(../images/blue-stripe.png) repeat;
}
#page .border,
#page {
    background: #f6f6f6;
    color: #565656
}
input[type="submit"],
.btn-silver {
    font-size: 11px;
    text-transform: uppercase;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 8px 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 15px
}
body {
    padding: 0;
    font-size: 14px;
    font-family: open_sansregular
}
a {
    outline: 0;
    transition: ease-out .3s;
    -webkit-transition: ease-out .3s;
    -moz-transition: ease-out .3s;
    -o-transition: ease-out .3s;
    -ms-transition: ease-out .3s
}
a:hover {
    text-decoration: none
}
.bold {
    font-family: open_sansbold
}
.tight p {
    margin-bottom: 3px
}
p {
    line-height: 160%;
    margin-bottom: 30px
}
.superlabels .form-item {
    position: relative
}
.clearboth {
    clear: both
}
img {
    height: auto
}
.area {
    padding: 10px 20px
}
.border {
    height: 1px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: inherit
}
.boxed {
    padding: 15px;
    margin-bottom: 20px
}
#page h1,
#page h1 a,
#page h2,
#page h2 a,
#page h3,
#page h3 a,
#page h4,
#page h4 a,
#page h5,
#page h5 a,
#page h6,
#page h6 a {
    color: #232323
}
#page .service-icon.inverse {
    background: #fff;
    border: 1px solid #c6c6c6;
    color: #232323
}
#page .type-services .items {
    border-left-color: #0699E9
}
#page .type-services .text {
    color: #585656
}
#header .border,
#header {
    background: #f6f6f6;
    border-color: #e7e7e7
}
.max-1170.style-boxed {
    max-width: 1210px
}
.max-960.style-boxed {
    max-width: 1000px
}
.max-fluid.style-boxed {
    max-width: 80%
}
.style-boxed {
    margin: 30px auto;
    padding: 20px 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}
.style-normal {
    margin: 5px 0
}
img {
    max-width: 100%
}
h1,
h2,
h3 {
    margin-top: 0
}
pre,
code {
    display: block;
    width: 100%;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap
}
table {
    margin-bottom: 20px
}
.btn-group.inline>* {
    display: inline;
    width: auto;
    vertical-align: middle
}
ul,
ol {
    padding-left: 20px;
    margin-bottom: 20px
}
ul.unstyled,
ol.unstyled {
    margin-left: 0;
    list-style: none;
    padding: 0
}
ul.inline,
ol.inline {
    margin-left: 0;
    list-style: none;
    font-size: 20px
}
ul.inline>li,
ol.inline>li {
    display: inline-block;
    *display: inline;
    padding-right: 5px;
    padding-left: 5px;
    *zoom: 1;
    font-size: 20px
}
.nopadding {
    padding: 0
}
.rightpadding {
    padding-left: 0;
    padding-right: 30px
}
.nopaddingleft {
    padding-left: 0
}
.nopaddingright {
    padding-right: 0
}
label,
input,
button,
select,
textarea {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
label {
    margin-bottom: 5px
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    padding: 8px 10px;
    margin-bottom: 10px;
    min-height: 20px;
    font-size: 13px;
    line-height: 24px;
    max-width: 100%;
    vertical-align: middle;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}
.btn-primary {
    margin-top: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px
}
.form-row {
    position: relative
}
table {
    width: 100%
}
.tab-content>.tab-pane {
    border: 1px solid #ddd;
    background: #fff
}
.tab-content>.tab-pane {
    padding: 20px 15px;
    margin-top: -1px
}
.panel-group .panel-heading .collapsible-icon {
    display: block;
    text-decoration: none;
    font-size: 14px
}
.panel-group .panel-heading .collapsible-icon>i {
    margin-right: 15px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    font-size: 12px
}
.panel-group .panel-heading .collapsible-icon>i:before {
    content: "\f068"
}
.panel-group .panel-heading .collapsed>i:before {
    content: "\f067"
}
.panel-group .panel-default {
    margin: 20px 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0
}
.panel-group .panel-default .panel-heading {
    height: 44px;
    line-height: 42px
}
.panel-group .panel-heading .collapsible-icon>i {
    border: 2px solid #5d5d5d;
    background: #f5f5f5
}
.boxed {
    background: #fdfdfd;
    border-color: #f2f2f2
}
.boxed {
    border-size: 1px;
    border-style: solid
}
.colorone {
    color: #0098e4
}
.colortwo {
    color: #007ebd
}
.text-light {
    color: #888
}
.style-boxed {
    box-shadow: 0 0 40px #666
}
span.linethrough {
    text-decoration: line-through
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    background: #fff;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 20px #f6f6f6 inset;
    color: #898989
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #aaa;
    color: #232323
}
.uneditable-input,
.uneditable-textarea {
    color: #aaa;
    background: #eee
}
input:-moz-placeholder,
textarea:-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    background-color: #eee
}
.btn-silver:hover i {
    color: #f6f6f6
}
.search-form .search-submit {
    color: #898989
}
#header {
    z-index: 100;
    padding: 0 20px
}
#header .container {
    z-index: 100
}
#logo {
    padding-top: 10px;
    padding-bottom: 10px
}
/* 03. to top */
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
    width: 30px;
    height: 34px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}
#toTopHover:after {
    content: "\f0d8";
    display: block;
    width: 100%;
    height: 30px;
    color: inherit
}
#toTopHover {
    display: block;
    position: relative;
    overflow: hidden;
    font-family: FontAwesome;
    font-size: 23px;
    line-height: 26px;
    vertical-align: middle;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%
}
#toTop:active,
#toTop:focus {
    outline: 0
}
/* 04. liquid */
.liquid {
    padding: 0 40px;
    position: relative
}
.liquid .previous {
    display: block;
    height: 32px;
    width: 24px;
    background-image: url(../images/previous.png);
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 0;
    z-index: 2;
    cursor: pointer
}
.liquid .next {
    display: block;
    height: 32px;
    width: 24px;
    background-image: url(../images/next.png);
    position: absolute;
    top: 50%;
    margin-top: -16px;
    right: 0;
    z-index: 2;
    cursor: pointer
}
.liquid ul li {
    margin: 0 15px
}
/* 05. pagination */
.pagination-centered {
    text-align: center
}
.pagination-right {
    text-align: right
}
.pagination {
    display: inline
}
.pagination li {
    display: inline-block
}
.pagination > a,
.pagination ul > li > a,
.pagination ul>li>span {
    float: left;
    margin-left: 7px;
    font-size: 13px;
    text-transform: uppercase;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 8px 11px;
    text-align: center;
    vertical-align: middle;
    line-height: 15px
}
.page-numbers {
    padding: 0
}
.page-links {
    margin-bottom: 50px
}
.page-links>a,
.page-links>span {
    display: inline-block;
    margin-left: 7px;
    font-size: 13px;
    text-transform: uppercase;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 8px 11px;
    line-height: 15px
}
.pager-mini {
    float: right;
    margin: 0;
    padding: 0
}
.pager-mini li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block
}
.pager-mini li a {
    width: 32px;
    height: 34px;
    display: inline-block;
    vertical-align: center;
    line-height: 32px;
    font-size: 24px;
    text-align: center
}
.pagination {
    display: inline-block;
    width: 100%;
    clear: both
}
/* 06. jumbotron */
.jumbotron {
    padding: 30px 40px;
    clear: both
}
.jumbotron .title {
    font-family: open_sanssemibold;
    line-height: 140%;
    margin: 0
}
.jumbotron .content {
    font-family: open_sanscondensed_light;
    font-size: 18px;
    letter-spacing: .9px
}
#jumbotron {
    clear: both;
    margin-bottom: 30px
}
.jumbotron .content {
    text-align: center;
    color: #232323
}
/* 07. footer */
#footer {
    background: #FDFDFD;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee
}
#footer a {
    color: #232323
}
#footer a:hover {
    color: #999
}
#footer .btn:hover {
    color: #fff
}
#footer {
    border-color: #e7e7e7
}
#fullfooter .border,
#fullfooter {
    border-color: #e7e7e7
}
#footer .border {
    margin-bottom: 60px
}
#footer .widget {
    margin-bottom: 35px
}
#footer .widgettitle {
    font-size: 16px;
    font-family: open_sanssemibold
}
#fullfooter .container {
    padding-bottom: 20px
}
#fullfooter .border {
    margin-bottom: 30px
}
.copyright {
    margin-top: 4px
}
/* 08. comment */
.comment-wrapper {
    margin-bottom: 20px;
    padding-bottom: 10px
}
.comment ul.children {
    margin-left: 0;
    list-style: none
}
.comment ul.children li.comment {
    margin-left: 100px
}
.comment ul.children li.depth-4 li,
.comment ul.children li.depth-4 {
    margin-left: 0
}
.commentlist > li:last-child li:last-child .comment-wrapper {
    border: none;
    margin: 0
}
.comment-link {
    margin: 0
}
.comment.pingback p {
    padding: 15px
}
.comment.bypostauthor .comment-wrapper {
    padding: 10px;
    margin-bottom: 20px
}
a.comment-reply-link {
    font-size: 11px;
    text-transform: uppercase;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 8px 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 14px;
    display: inline-block;
    margin: 20px 0
}
.comment-author {
    font-family: open_sanssemibold;
    font-size: 16px;
    margin-bottom: 15px
}
.comment-author small {
    font-family: open_sansregular;
    font-size: 12px
}
.comment-form-author,
.comment-form-email,
.comment-form-url {
    display: inline-block;
    width: 31%;
    margin-right: 2.5%;
    position: relative
}
.comment-form-url {
    margin-right: 0
}
.comment-form-author input,
.comment-form-email input,
.comment-form-url input {
    width: 100%
}
.comment-form-comment {
    position: relative
}
.form-allowed-tags code {
    font-size: 11px;
    line-height: 130%;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-boz-sizing: border-box;
    display: block
}
.commentlist .pingback .post-wrapper {
    margin-left: 0
}
a.more-link {
    font-size: 11px;
    text-transform: uppercase;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 8px 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 14px;
    display: block;
    width: 120px;
    margin: 20px 0
}
/* 09. search */
.search-form {
    position: relative
}
.search-form .search-field {
    padding: 13px 47px 13px 18px;
    font-size: 15px
}
.search-form .search-submit {
    height: 46px;
    width: 47px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    border: none;
    background: transparent;
    font-size: 24px
}
.post-section-title,
h1.post-title {
    font-size: 20px;
    font-family: open_sanssemibold;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 23px
}
h2.post-title {
    font-size: 18px;
    margin-bottom: 15px
}
/* 10. thumbnail */
.post-thumbnail {
    margin: -16px -16px 20px
}
.post-thumbnail img {
    width: 100%;
    height: auto
}
.post-round-thumbnail {
    position: relative;
    margin: 30px auto;
    width: 80%;
    padding-bottom: 80%;
    height: 0
}
.post-round-thumbnail .post-pseudo-wrapper {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    vertical-align: middle
}
.post-round-thumbnail img {
    min-height: 100%;
    min-width: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 0 auto
}
.post-thumbnail-open img {
    width: 80%;
    margin: 0 10%
}
/* 11. portfolio */
ul.portfolio {
    position: relative
}
ul.portfolio>li {
    text-align: center;
    -webkit-transition: ease-in .4s;
    -moz-transition: ease-in .4s;
    -o-transition: ease-in .4s;
    -ms-transition: ease-in .4s;
    transition: ease-in .4s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    margin-bottom: 30px
}
section.portfolio.boxed {
    height: 100%
}
@media (max-width: 768px) {
    ul.portfolio>li.col-xs-12 {
        margin-bottom: 10px
    }
    ul.portfolio>li.col-xs-12:last-child {
        margin-bottom: 0
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    ul.portfolio>li.col-sm-12 {
        margin-bottom: 10px
    }
    ul.portfolio>li.col-sm-12:last-child {
        margin-bottom: 0
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    ul.portfolio>li.col-md-12 {
        margin-bottom: 10px
    }
    ul.portfolio>li.col-md-12:last-child {
        margin-bottom: 0
    }
}
@media (min-width: 1200px) {
    ul.portfolio>li.col-lg-12 {
        margin-bottom: 10px
    }
    ul.portfolio>li.col-lg-12:last-child {
        margin-bottom: 0
    }
}
ul.isotope-sources {
    margin-top: 20px;
    margin-bottom: 40px
}
ul.isotope-sources > li a {
    text-transform: uppercase;
    padding: 10px 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
    text-transform: uppercase;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 11px
}
ul.isotope-sources > li a.grid-mode {
    font-size: 24px;
    line-height: 24px;
    vertical-align: middle;
    padding: 6px
}
ul.isotope-sources > li a.grid-mode i {
    font-size: 24px;
    line-height: 24px;
    vertical-align: middle
}
ul.portfolio > li .post-title a,
ul.portfolio > li .post-title {
    text-transform: capitalize;
    font-size: 20px;
    margin: 5px 0 20px;
    font-family: open_sanssemibold
}
ul.portfolio .post-excerpt {
    margin-bottom: 20px
}
ul.portfolio .post-icon-bubble {
    width: 30%;
    height: 30%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    padding: 8px;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 3%;
    max-width: 85px;
    max-height: 85px
}
ul.portfolio .post-icon-bubble .post-icon-slogan {
    font-size: 9px;
    margin: 14% 10px 2%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20%
}
ul.portfolio .post-icon-bubble .post-icon-icon {
    font-size: 28px;
    height: 50%;
    text-align: center;
    vertical-align: middle;
    margin: 7% 0;
    line-height: 50%
}
ul.portfolio .post-icon-bubble.no-text .post-icon-icon {
    line-height: 100%;
    height: 100%
}
ul.portfolio .more-link {
    margin: 20px auto;
    padding: 10px 20px;
    width: 130px
}
ul.portfolio.grid > li .portfolio-image {
    width: 100%
}
ul.portfolio.grid > li .portfolio-content {
    clear: both
}
ul.portfolio.list>li {
    width: 100%
}
ul.portfolio.list > li .portfolio-image {
    width: 30%
}
ul.portfolio.list > li .portfolio-content {
    margin-left: 40%;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 30px
}
ul.portfolio.list > li .portfolio.even .portfolio-content {
    margin-right: 40%;
    margin-left: 0
}
ul.portfolio.list .more-link {
    margin: 20px 0;
    padding: 10px 20px;
    width: 200px
}
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    -ms-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    -ms-transition-duration: 0;
    -o-transition-duration: 0;
    transition-duration: 0
}
.isotope-target {
    position: relative
}
ul.portfolio .post-excerpt {
    color: #585656
}
ul.portfolio .post-icon-bubble {
    box-shadow: 0 0 4px #777;
    color: #3f3f3f;
    background: #fff
}
.single-portfolio .portfolio-meta i {
    color: #494949
}
.single-portfolio .portfolio-designer i {
    color: #494949
}
/* 12. single portfolio */
.post-gallery-wrapper {
    margin-top: 30px;
    margin-left: 190px;
    margin-bottom: 30px
}
.single-portfolio .post-gallery-wrapper.center {
    margin: 30px auto;
    float: none
}
.single-portfolio .post-title {
    font-family: open_sanssemibold;
    margin: 30px 0;
    clear: both
}
.single-portfolio .portfolio-meta i {
    display: inline-block;
    font-size: 26px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 30px
}
.single-portfolio .portfolio-designer i {
    font-size: 36px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: middle
}
.single-portfolio .portfolio-designer-wrapper {
    margin-left: 55px
}
.single-portfolio .portfolio-designer-wrapper.without-icon {
    margin-left: 0
}
.single-portfolio .portfolio-designer-title-wrapper {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 20px
}
.portfolio-designer-title {
    margin-left: 10px
}
.single-portfolio .portfolio-designer-name {
    font-family: open_sanssemibold
}
.portfolio-links {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 50px
}
.single-portfolio .portfolio-designer-description,
.single-portfolio .portfolio-links {
    margin-bottom: 20px
}
.portfolio-designer-description {
    margin-left: 50px
}
.single-portfolio .portfolio-links {
    line-height: 23px;
    vertical-align: middle;
    margin-right: 15px
}
.single-portfolio .portfolio-links i {
    font-size: 16px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    margin-right: 5px
}
.single-portfolio .post-content {
    margin-top: 20px;
    float: left;
    width: 100%
}
#page .service-icon {
    width: 140px;
    height: 140px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    font-size: 64px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    display: block;
    margin: 0 auto 20px
}
.single-services .items {
    border-left-width: 0
}
.single-services h3.title {
    font-size: 18px;
    font-family: open_sanssemibold
}
.single-services .text {
    line-height: 180%
}
.single-services h2.post-section-title {
    margin-top: 60px;
    margin-bottom: 30px
}
#post-multilanguage-box {
    padding-top: 5px;
    padding-bottom: 5px
}
#header.sticky #post-multilanguage-box {
    display: none
}
#post-multilanguage-box .lang_sel_list_horizontal {
    height: auto
}
#post-multilanguage-box li span {
    font-family: open_sansregular;
    line-height: 20px;
    vertical-align: middle
}
#post-multilanguage-box .lang_sel_list_horizontal a,
#post-multilanguage-box .lang_sel_list_horizontal a:visited {
    padding-left: 15px;
    background: transparent;
    border: none
}
#post-multilanguage-box ul li a {
    padding: 5px 10px
}
#lang_sel_click ul ul {
    top: 35px
}
@media (max-width: 768px) and (min-width: 601px) {
    #post-multilanguage-box {
        position: absolute;
        right: 50px;
        top: 14px;
        width: auto
    }
    #post-multilanguage-box .lang_sel_list_horizontal span {
        display: none
    }
    #post-multilanguage-box .lang_sel_list_horizontal {
        margin-top: 7px
    }
    #post-multilanguage-box .lang_sel_list_horizontal a {
        padding: 0 5px 0 0
    }
}
@media (max-width: 600px) {
    #post-multilanguage-box {
        padding-right: 60px;
        padding-top: 13px
    }
}
@media (max-width: 420px) {
    #post-multilanguage-box {
        display: none
    }
}
/* 13. messages */
.alert {
    color: #fff
}
.alert-info {
    background: #005782
}
.alert-success {
    background: #068e06
}
.alert-warning {
    background: #D54E21
}
.alert-danger,
.alert-error {
    background: #b30d00
}
.alert-info .alert-link {
    color: #003
}
.alert-warning .alert-link {
    color: #764100
}
.alert-danger .alert-link {
    color: #500000
}
html.ie9 .animated.startblank {
    opacity: 1
}
html.ie9 .service-icon {
    filter: none
}
/* 14. recent posts */
.recent-posts-extended ul li {
    padding-left: 0;
    border: none;
    margin-bottom: 40px
}
.recent-posts-extended ul li:before {
    display: none
}
.recent-posts-extended img {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    padding: 0
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .recent-posts-extended img {
        border-radius: 0
    }
}
.recent-posts-extended img:hover {
    border-color: none
}
.recent-posts-extended h3.rpwe-title {
    font-size: 14px;
    font-family: open_sanssemibold
}
.recent-posts-extended .rpwe-title,
.recent-posts-extended .rpwe-time,
.recent-posts-extended .rpwe-summary {
    margin-left: 80px;
    display: block
}
.recent-posts-extended .rpwe-time {
    font-size: 11px
}
.recent-posts-extended .rpwe-summary {
    font-size: 14px
}
.recent-posts-extended a.more-link {
    display: block
}
.rpwe-block ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0
}
.rpwe-block li {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
    list-style-type: none
}
.rpwe-block a {
    display: inline;
    text-decoration: none
}
.rpwe-block h3 {
    background: none;
    clear: none;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5em
}
.rpwe-thumb {
    border: 1px solid #EEE;
    box-shadow: none;
    margin: 2px 10px 2px 0;
    padding: 3px
}
.rpwe-summary {
    font-size: 12px
}
.rpwe-time {
    color: #bbb;
    font-size: 11px
}
.rpwe-alignleft {
    display: inline;
    float: left
}
.rpwe-alignright {
    display: inline;
    float: right
}
.rpwe-alignnone {
    display: block;
    float: none
}
.rpwe-clearfix:before,
.rpwe-clearfix:after {
    content: "";
    display: table
}
.rpwe-clearfix:after {
    clear: both
}
.rpwe-clearfix {
    zoom: 1
}
/* 15. widgets */
.widget {
    margin-bottom: 20px
}
#content-top .widget,
#content-bottom .widget {
    margin-bottom: 40px
}
.widgettitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px
}
.widgettitle:after {
    clear: both;
    content: '';
    display: block
}
.widgettitle .pager-mini {
    margin: -5px 0 0 15px
}
.widget ul {
    list-style: none;
    margin: 0;
    padding: 0
}
.widget ul.page-numbers li,
.widget ul.unstyled li {
    padding: 0
}
.widget ul.page-numbers li:before,
.widget ul.unstyled li:before {
    display: none
}
.widget ul li {
    padding: 2px 16px 4px;
    position: relative;
    line-height: 180%
}
.widget ul li:last-child {
    padding-bottom: 0
}
.widget ul li:before {
    content: "\f111";
    font-size: 5px;
    position: absolute;
    font-family: fontawesome;
    top: 2px;
    left: 3px
}
.widget_calendar caption {
    color: #333
}
.widget_calendar thead {
    border-top: 1px double #eee
}
.widget_calendar tbody {
    color: #aaa
}
.widget_calendar tbody td {
    background: #f5f5f5;
    border: 1px solid #fff
}
.widget_calendar tbody td a {
    background: #007EBD;
    color: #f5f5f5
}
.widget_calendar tbody td a:hover {
    background: #0098e4;
    color: #fff
}
.widget_widgets_social i {
    color: #8c8c8c
}
.widget_calendar table {
    text-align: center
}
.widget_calendar caption {
    padding: 0 0 10px;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: right;
    font-size: 12px
}
.widget_calendar th {
    text-align: center;
    padding: 10px 0
}
.widget_calendar tbody {
    margin-bottom: 15px
}
.widget_calendar tbody td {
    text-align: center;
    height: 40px
}
.widget_calendar tbody td a {
    display: block;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    width: 100%
}
.widget_calendar tbody td a:hover {
    cursor: pointer
}
.widget_calendar tfoot td {
    padding-top: 15px
}
.widget_calendar tfoot tr td {
    padding-top: 10px
}
.widget_calendar tfoot #prev {
    text-align: left
}
.widget_calendar tfoot #next {
    text-align: right
}
.widget_calendar tfoot #prev a,
.widget_calendar tfoot #next a {
    font-size: 11px;
    text-transform: uppercase;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 8px 15px;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    line-height: 30px
}
.widget_calendar tbody .pad:hover,
.widget_calendar tbody .pad {
    background: none
}
.widget_rss > ul li .rsswidget {
    font-family: open_sansbold;
    display: block;
    font-size: 12px;
    line-height: 16px
}
.widget_rss .rss-date {
    font-family: open_sansitalic;
    font-size: 12px;
    margin-bottom: 8px;
    display: block
}
.widget_rss .rssSummary {
    margin-bottom: 12px
}
.widget_rss cite {
    text-align: right;
    font-size: 13px;
    font-family: open_sansitalic;
    font-weight: 700;
    display: block;
    margin-bottom: 10px
}
.recentcomments a {
    font-family: open_sansitalic
}
.widget_widgets_social dt {
    width: 40%;
    text-align: left;
    margin-top: 2px
}
.widget_widgets_social dd {
    margin-left: 41%
}
.widget_widgets_social i {
    width: 24px;
    height: 28px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    line-height: 24px;
    display: block;
    font-size: 13px;
    border: 1px solid transparent
}
@media (max-width: 768px) {
    .widget_widgets_social .dl-horizontal dt {
        width: 100%;
        min-height: auto;
        margin-bottom: 15px
    }
    .widget_widgets_social .dl-horizontal dd {
        width: 100%;
        margin-bottom: 15px;
        margin-left: 0
    }
}
.widget_widgets_contact dt {
    width: 35%;
    text-align: left;
    margin-top: 2px
}
.widget_widgets_contact dd {
    margin-left: 36%
}
@media (max-width: 768px) {
    .widget_widgets_contact .dl-horizontal dt {
        width: 100%;
        min-height: auto;
        margin-bottom: 15px
    }
    .widget_widgets_contact .dl-horizontal dd {
        width: 100%;
        margin-bottom: 15px;
        margin-left: 0
    }
}
.widget ul.portfolio.row {
    margin-left: -15px;
    margin-right: -15px
}
.widget ul.portfolio>li:before {
    content: ''
}
.widget ul.portfolio .post-icon-bubble .post-icon-slogan {
    line-height: 9px
}
.widget_widgets_post .post-wrapper {
    margin-left: 0
}
.widget_widgets_post .post-wrapper.with-thumbnail {
    margin-top: 40px
}
.widget_widgets_post .post {
    margin-bottom: 110px
}
.widget_widgets_services>ul>li {
    padding: 0 15px 30px
}
.widget_tag_cloud .tagcloud a {
    padding: 8px 15px;
    font-size: 13px;
    margin: 0 15px 10px 0;
    display: inline-block;
    position: relative
}
.widget_tag_cloud .tagcloud a:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: -13px;
    border-width: 6px;
    margin-top: -5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
    border-style: solid
}
.widget_tag_cloud .tagcloud a:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: -12px;
    border-width: 6px;
    margin-top: -5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #f5f5f5;
    border-style: solid
}
.widget_tag_cloud .tagcloud a:after {
    border-left-color: #f5f5f5
}
.widget_tag_cloud .tagcloud a:hover:after {
    border-left-color: #0699e9
}
.widget_widgets_portfolio_recent li {
    margin-right: 10px;
    margin-bottom: 10px
}
.widget_tag_cloud .tagcloud a:hover,
input[type="submit"]:hover,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.nav a:focus,
.btn:hover,
.nav.nav-tabs a:hover,
.nav.nav-tabs a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.btn-silver:hover,
.widget_widgets_social i:hover,
.widget_calendar tfoot #prev a:hover,
.widget_calendar tfoot #next a:hover,
a.more-link:hover,
#page .service-icon,
.post-social i:hover,
.post-calendar,
ul.isotope-sources > li.active a,
ul.isotope-sources > li a:hover,
ul.isotope-sources > li.grid-active a,
.page-links > span,
.page-links > a:hover,
.pagination ul > li > a:hover,
.pagination ul > li > span,
#toTopHover:hover,
a.comment-reply-link:hover,
.skills .progress-bar {
    background: #0699E9 url(../images/bluegrad.png) top left repeat-x;
    background: -moz-linear-gradient(top, #45c6f2 0%, #07b3ee 4%, #0699e9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45c6f2), color-stop(4%, #07b3ee), color-stop(100%, #0699e9));
    background: -webkit-linear-gradient(top, #45c6f2 0%, #07b3ee 4%, #0699e9 100%);
    background: -o-linear-gradient(top, #45c6f2 0%, #07b3ee 4%, #0699e9 100%);
    background: -ms-linear-gradient(top, #45c6f2 0%, #07b3ee 4%, #0699e9 100%);
    background: linear-gradient(to bottom, #45c6f2 0%, #07b3ee 4%, #0699e9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#45c6f2', endColorstr='#0699e9', GradientType=0);
    color: #f6f6f6;
    border: 1px solid #0078ba;
    box-shadow: 0 0 1px #fff inset
}
.widget_tag_cloud .tagcloud a,
input[type="submit"],
.btn,
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs,
.panel-group .panel-default .panel-heading,
.btn-silver,
.widget_calendar tfoot #prev a,
.widget_calendar tfoot #next a,
a.more-link,
ul.isotope-sources > li a,
.page-links a,
.pagination > a,
.pagination ul>li>a,
#toTopHover,
a.comment-reply-link {
    background: #ededed url(../images/silvergrad.png) top left repeat-x;
    background: -moz-linear-gradient(top, #f9f9f9 0%, #f5f5f5 50%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(50%, #f5f5f5), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 50%, #ededed 100%);
    background: -o-linear-gradient(top, #f9f9f9 0%, #f5f5f5 50%, #ededed 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0%, #f5f5f5 50%, #ededed 100%);
    background: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 50%, #ededed 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ededed', GradientType=0);
    color: #262626;
    border: 1px solid #c6c6c6;
    box-shadow: 0 0 2px #fff inset
}
#cancel-comment-reply-link,
#cancel-comment-reply-link2,
#cancel-comment-reply-link3,
#cancel-comment-reply-link4,
#cancel-comment-reply-link5,
#cancel-comment-reply-link6,
#cancel-comment-reply-link7 {
    display: none
}
#sidebar .widgettitle:first-letter,
.post-section-title:first-letter,
h1.post-title:first-letter,
#content-bottom .widgettitle:first-letter,
#content-top .widgettitle:first-letter {
    color: #0098e4
}
#sidebar .widgettitle,
.post-section-title,
h1.post-title,
#navigation ul.nav > li > ul.dropdown-menu a,
#content-bottom .widgettitle,
#content-top .widgettitle {
    border-bottom: 1px solid #eee
}
/* 16. progress bar */
.progress-bar1 {
    width: 70%
}
.progress-bar2 {
    width: 80%
}
.progress-bar3 {
    width: 90%
}
.progress-bar4 {
    width: 100%
}
.skills .skills-items {
    margin: 20px 0;
    overflow: hidden
}
.skills .meter {
    font-family: open_sanssemibold
}
.skills .progress-bar {
    font-size: 15px;
    height: 44px;
    line-height: 42px;
    text-align: left;
    padding: 0 20px
}
.skills .skills-items {
    border: 1px solid #d1d1d1
}
/* 17. selector */
#lang_sel {
    height: 32px;
    position: relative;
    font-family: verdana, arial, sans-serif;
    display: inline-block
}
* html #lang_sel {
    width: 12em;
    width: 12em
}
#lang_sel ul,
#lang_sel li {
    padding: 0;
    margin: 0;
    list-style-type: none
}
#lang_sel li:before {
    content: ''
}
#lang_sel ul ul {
    width: 149px
}
#lang_sel li {
    float: left;
    width: 149px;
    position: relative
}
#lang_sel a,
#lang_sel a:visited {
    display: block;
    font-size: 11px;
    text-decoration: none;
    color: #444;
    border: 1px solid #cdcdcd;
    background: #fff;
    padding-left: 10px;
    line-height: 24px
}
* html #lang_sel a,
* html #lang_sel a:visited {
    width: 149px;
    width: 138px
}
#lang_sel ul ul {
    visibility: hidden;
    position: absolute;
    height: 0;
    top: 25px;
    left: 0;
    width: 149px;
    border-top: 1px solid #cdcdcd
}
* html #lang_sel ul ul {
    top: 18px;
    top: 19px
}
#lang_sel table {
    position: absolute;
    top: 0;
    left: 0;
    border-collapse: collapse
}
#lang_sel ul ul a,
#lang_sel ul ul a:visited {
    background: #fff;
    color: #444;
    height: auto;
    line-height: 1em;
    padding: 5px 10px;
    border-width: 0 1px 1px
}
* html #lang_sel ul ul a,
* html #lang_sel ul ul a:visited {
    width: 150px;
    width: 128px
}
#lang_sel a:hover,
#lang_sel ul ul a:hover {
    color: #000;
    background: #eee
}
#lang_sel:hover > a,
#lang_sel ul ul:hover > a {
    color: #000;
    background: #eee
}
#lang_sel a.lang_sel_sel {
    color: #444
}
#lang_sel a.lang_sel_sel:hover {
    text-decoration: none;
    color: #000
}
#lang_sel ul li:hover ul,
#lang_sel ul a:hover ul {
    visibility: visible
}
#lang_sel img.iclflag {
    width: 18px;
    height: 12px;
    position: relative;
    top: 1px
}
#lang_sel_footer {
    margin: 0;
    padding: 7px;
    text-align: center;
    border: 1px solid #fff;
    font: 11px Verdana, sans-serif;
    min-height: 15px;
    clear: both;
    background-color: #fff;
    border: 1px solid #cdcdcd
}
#lang_sel_footer ul {
    list-style: none;
    margin: 0;
    padding: 0
}
#lang_sel_footer ul li img {
    position: relative;
    top: 1px;
    width: 18px;
    height: 12px
}
#lang_sel_footer ul li {
    display: inline;
    margin: 0 1px 0 0;
    padding: 0;
    white-space: nowrap;
    line-height: 25px
}
#lang_sel_footer ul li a,
#lang_sel_footer ul li a:visited {
    text-decoration: none;
    padding: 5px 10px
} 
#wpml_credit_footer {
    width: 100%;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font-size: 11px
}
#lang_sel_list {
    height: 32px;
    position: relative;
    z-index: 99;
    font-family: verdana, arial, sans-serif
}
#lang_sel_list.lang_sel_list_vertical {
    width: 149px
}
* html #lang_sel_list {
    width: 12em;
    width: 12em
}
#lang_sel_list ul,
#lang_sel_list li {
    padding: 0;
    margin: 0;
    list-style-type: none
}
#lang_sel_list li:before {
    content: ''
}
#lang_sel_list ul.lang_sel_list_vertical {
    width: 149px
}
#lang_sel_list li {
    float: left;
    position: relative
}
#lang_sel_list.lang_sel_list_vertical li {
    width: 149px
}
#lang_sel_list a,
#lang_sel_list a:visited {
    display: block;
    font-size: 11px;
    text-decoration: none;
    color: #444;
    background: #fff;
    line-height: 18px;
    padding-left: 5px
}
#lang_sel_list.lang_sel_list_vertical a,
#lang_sel_list.lang_sel_list_vertical a:visited {
    border: 1px solid #cdcdcd;
    border-width: 0 1px 1px;
    padding-left: 10px
}
* html #lang_sel_list a,
* html #lang_sel_list a:visited {
    width: 149px;
    width: 138px
}
#lang_sel_list.lang_sel_list_vertical ul {
    height: 0;
    top: 19px;
    left: 0;
    border-top: 1px solid #cdcdcd
}
* html #lang_sel_list ul {
    top: 18px;
    top: 19px
}
#lang_sel_list table {
    position: absolute;
    top: 0;
    left: 0;
    border-collapse: collapse
}
#lang_sel_list ul a,
#lang_sel_list_list ul a:visited {
    background: #fff;
    color: #444;
    height: auto;
    line-height: 1em
}
#lang_sel_list.lang_sel_list_vertical ul a,
#lang_sel_list_list ul a:visited {
    padding: 3px 10px
}
* html #lang_sel_list ul a,
* html #lang_sel_list ul a:visited {
    width: 150px;
    width: 128px
}
#lang_sel_list a.lang_sel_sel {
    background-image: none;
    color: #444
}
#lang_sel_list a.lang_sel_sel:hover {
    text-decoration: none;
    color: #000
}
#lang_sel_list ul li:hover ul,
#lang_sel_list ul a:hover ul {
    visibility: visible
}
#lang_sel_list img.iclflag {
    width: 18px;
    height: 12px;
    position: relative;
    top: 1px
}
#lang_sel.icl_rtl {
    text-align: right;
    direction: rtl
}
#lang_sel.icl_rtl .lang_sel_sel {
    padding-right: 14px
}
.menu-item-language img.iclflag {
    height: 12px;
    width: 18px;
    margin-bottom: 0;
    margin-right: 4px
}
#topbar-language #lang_sel {
    margin-left: 15px
}
#lang_sel {
    z-index: 9999
}
#lang_sel img.iclflag {
    top: -1px
}
#lang_sel ul ul {
    top: 35px
}
.icl_lang_sel_translated {
    font-size: 10px;
    margin-top: 5px
}
/* 18. reset */
.alignnone {
    margin: 0 0 20px
}
.alignleft {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px
}
.alignright {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px
}
div.aligncenter,
.aligncenter {
    margin: 0 auto 20px;
    float: none;
    margin-bottom: 20px
}
.wp-caption {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-width: 100%
}
.wp-caption-text {
    background: #F6F6F6;
    font-family: open_sansitalic;
    padding: 10px
}
.gallery-caption {
    border: none
}
.bypostauthor {
    border-width: 2px
}
.assistive-text,
.screen-reader-text {
    display: none
}
/* 19. gallery */
.gallery {
    margin-bottom: 30px
}
.gallery .gallery-item a {
    display: block
}
.gallery .gallery-item img {
    border: none;
    width: 100%;
    max-width: 100%
}
.gallery .gallery-item {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0 .5% 5px;
    float: none;
    display: inline-block;
    vertical-align: top;
    border: none
}
.gallery.gallery-columns-1 .gallery-item,
.gallery.gallery-columns-3 .gallery-item:nth-child(4n+1),
.gallery.gallery-columns-5 .gallery-item:nth-child(6n+1),
.gallery.gallery-columns-7 .gallery-item:nth-child(8n+1),
.gallery.gallery-columns-9 .gallery-item:nth-child(10n+1) {
    width: 99%
}
.gallery.gallery-columns-2 .gallery-item,
.gallery.gallery-columns-3 .gallery-item,
.gallery.gallery-columns-4 .gallery-item,
.gallery.gallery-columns-5 .gallery-item {
    width: 49%
}
.gallery.gallery-columns-6 .gallery-item,
.gallery.gallery-columns-7 .gallery-item {
    width: 32%
}
.gallery.gallery-columns-8 .gallery-item,
.gallery.gallery-columns-9 .gallery-item {
    width: 24%
}
/* 20. navigation */
#navigation ul.nav {
    margin-bottom: 0
}
#navigation ul.nav>li {
    min-height: 78px;
    margin-bottom: -1px;
    line-height: 78px;
    vertical-align: middle
}
#navigation ul.nav>li>a {
    font-size: 14px;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 0 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-bottom: 1px solid transparent;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    background: none;
    font-weight: 400;
    outline: 0
}
#navigation ul.nav ul {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    opacity: 0;
    margin-top: 20px;
    display: block;
    visibility: hidden;
    display: block
}
#navigation ul.nav > li ul.dropdown-menu {
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    padding: 8px 0
}
#navigation ul.nav > li ul.dropdown-menu ul.dropdown-menu {
    border-top: none;
    margin-left: 100%;
    top: 0
}
#navigation ul.nav > li > ul.dropdown-menu a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0 10px;
    padding: 8px 10px;
    font-size: 12px
}
#navigation ul.nav > li ul.dropdown-menu > li:last-child a {
    border-bottom: none
}
#navigation ul.nav > li li.with-children>a {
    padding-right: 28px;
    position: relative
}
#navigation ul.nav > li li.with-children>a:after {
    content: "\f0da";
    display: block;
    font-family: fontawesome;
    top: 8px;
    right: 6px;
    position: absolute
}
#navigation ul.nav li.menu-item-has-children:hover>ul {
    opacity: 1;
    margin-top: -1px;
    visibility: visible
}
#navigation ul.nav>li.menu-item-has-children:hover>a {
    outline: 0
}
#navigation ul.nav>li>a {
    color: #999
}
#navigation .nav-pills > li:hover > a,
#navigation .nav-pills > li > a:focus,
#navigation .nav-pills>li.active>a {
    border-bottom-color: #3e3e3e;
    color: #3e3e3e
}
#navigation ul.nav > li ul.dropdown-menu {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.176);
    border-top: 1px solid #3e3e3e
}
#navigation ul.nav > li ul.dropdown-menu ul.dropdown-menu {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.176)
}
#navigation ul.nav > li > ul.dropdown-menu a:focus,
#navigation ul.nav > li > ul.dropdown-menu a:hover {
    background: #0098e4;
    color: #fff
}
.slicknav_btn,
.slicknav_menu .slicknav_icon-bar {
    border-color: #ccc
}
.slicknav_menu>ul {
    background: #fff;
    border: 1px solid #ccc
}
.slicknav_nav li > a:focus,
.slicknav_nav li > a:focus a,
.slicknav_nav li.active>a {
    background: #007ebd;
    color: #f5f5f5
}
.slicknav_nav li > a:hover a,
.slicknav_nav li>a:hover {
    background: #0098e4;
    color: #f5f5f5
}
.nav>li {
    margin-right: 3px
}
.nav>li>a:hover,
.nav>li>a:focus {
    color: #fff
}
.nav-tabs {
    margin-top: 20px
}
.nav-tabs li {
    margin: 0;
    padding: 0;
    border: none
}
.nav-tabs>li>a,
.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
    padding: 10px 15px;
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    font-size: 13px
}
.nav.nav-tabs a {
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent
}
.slicknav_btn {
    z-index: 9999;
    display: block;
    vertical-align: middle;
    padding: 9px 5px;
    line-height: 16px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    top: 16px;
    right: 20px;
    width: 36px;
    height: auto;
    border-width: 2px;
    border-style: solid
}
.slicknav_menu .slicknav_menutxt {
    display: block;
    float: left
}
.slicknav_menu .slicknav_icon {
    float: left;
    display: block;
    height: auto;
    width: 100%;
    margin-top: 1px
}
.slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 100%;
    height: 3px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    margin-bottom: 4px;
    border-width: 1px;
    border-style: solid
}
.slicknav_menu .slicknav_icon-bar:last-child {
    margin-bottom: 0
}
.slicknav_nav {
    clear: both
}
.slicknav_nav li,
.slicknav_nav ul {
    display: block
}
.slicknav_nav .slicknav_arrow {
    font-size: .8em;
    margin: 0 0 0 .4em
}
.slicknav_nav .slicknav_item {
    display: block;
    cursor: pointer
}
.slicknav_nav a {
    display: block
}
.slicknav_nav .slicknav_item a {
    display: inline
}
.slicknav_menu:after,
.slicknav_menu:before {
    content: " ";
    display: table
}
.slicknav_menu:after {
    clear: both
}
.slicknav_menu {
    *zoom: 1
}
.slicknav_nav {
    padding: 20px 0;
    font-size: 14px
}
.slicknav_nav,
.slicknav_nav ul {
    list-style: none;
    overflow: hidden
}
.slicknav_nav ul {
    padding: 0;
    margin: 0
}
.slicknav_nav li {
    padding: 0
}
.slicknav_nav li:last-child {
    border-bottom: 0
}
.slicknav_nav a {
    padding: 10px 20px;
    text-decoration: none;
    margin: 0
}
.slicknav_nav li>a>a {
    padding: 8px 0
}
.slicknav_nav li li>a {
    padding-left: 40px
}
.slicknav_nav li li li>a {
    padding-left: 60px
}
.slicknav_nav li li li li>a {
    padding-left: 80px
}
.slicknav_nav li li li li li>a {
    padding-left: 100px
}
.slicknav_nav li>a>a:hover {
    background: 0 0
}
.slicknav_nav .slicknav_txtnode {
    margin-left: 15px
}
.slicknav_menu {
    display: none
}
@media (max-width: 768px) {
    #header {
        position: relative;
        min-height: 45px
    }
    .slicknav_menu {
        display: block
    }
    #navigation .menu {
        display: none
    }
}
html.do-animate* {
    transition: ease-out .7s;
    -webkit-transition: ease-out .7s;
    -moz-transition: ease-out .7s;
    -o-transition: ease-out .7s;
    -ms-transition: ease-out .7s
}
/* miscellaneous */
#maps-element {
    width: 1136px;
    height: 450px;
    background: #E5E3DF;
    margin-bottom: 32px
}
#maps-element img {
    max-width: none
}
.home-link {
    display: inline-block;
    margin-right: 15px
}
.branding {
    display: inline-block;
    vertical-align: middle
}
.site-title {
    font-size: 19px;
    line-height: 20px;
    margin: 0;
    text-transform: uppercase;
    font-family: open_sansbold
}
.site-title .home-link:first-letter {
    color: #0098e4
}
.site-description {
    font-size: 13px;
    line-height: 16px;
    margin: 0
}
#content-bottom .widgettitle,
#content-top .widgettitle {
    font-family: open_sanssemibold;
    font-size: 20px;
    padding-bottom: 20px;
    margin: 20px 0
}
.main-content .widgettitle {
    font-size: 16px
}
#content {
    padding-top: 20px;
    padding-bottom: 20px
}
.sidebar-left {
    margin-top: 20px
}
#sidebar a {
    color: #232323
}
#sidebar a:hover {
    color: #999
}
#sidebar .tag-link:hover {
    color: #fff
}
#sidebar {
    padding-top: 20px;
    padding-bottom: 20px
}
#sidebar .widget {
    margin-bottom: 35px
}
#sidebar .widgettitle {
    font-family: open_sanssemibold;
    font-size: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px
}
.nicescroll-rails {
    z-index: 999
}
.resize-sensor,
.resize-sensor>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    visibility: hidden;
    background: transparent
}
html.js .equalheightRow {
    overflow: hidden
}
html.js .galleries img {
    position: absolute;
    left: -99999px
}
.equalheightRow .items {
    height: 100%
}
.equalheightRow.text-center {
    margin-top: 30px
}
.sticky {
    border-width: 2px
}
.post.sticky {
    background: #fdfdfd;
    border-color: #d1d1d1
}
.wrapper-sticky {
    z-index: 120
}
.admin-bar #header.sticky {
    top: 32px
}
.sticky #header {
    height: 100%
}
.dotline-wrapper {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px
}
.dotline .items {
    z-index: 2
}
.dotline>.items:nth-child(even) {
    padding-top: 90px
}
.dotline-wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}
.post-calendar {
    width: 60px;
    height: 60px;
    margin-left: 5px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle
}
.post-calendar .post-month {
    font-size: 8px;
    text-transform: uppercase;
    margin-top: 10px
}
.post-calendar .post-date {
    font-family: open_sansbold;
    font-size: 23px;
    line-height: 110%
}
.post-wrapper {
    margin-left: 85px;
    padding-top: 5px
}
.post-wrapper.without-calendar {
    margin-left: 0
}
.post-meta {
    margin-bottom: 15px;
    font-family: open_sansitalic
}
.post-excerpt {
    line-height: 180%
}
.post-content {
    clear: both
}
.type-post .post-content {
    clear: none
}
.recent-posts-extended img {
    border: 5px solid #fff;
    box-shadow: 0 0 3px #888
}
.post-round-thumbnail .post-pseudo-wrapper {
    border: 4px solid #fff;
    box-shadow: 0 0 4px #777
}
.post-single-category a {
    color: #232323
}
.post-social i {
    color: #8c8c8c;
    border: 1px solid transparent
}
.post-avatar img {
    border: 5px solid #fff;
    box-shadow: 0 0 3px #888
}
.comment.bypostauthor .comment-wrapper {
    border-color: #ccc
}
.content h4,
.content p {
    text-align: center
}
.content .heading,
.content .para {
    text-align: left
}
.post-social {
    margin-top: 20px
}
.post-social i {
    width: 24px;
    height: 28px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    line-height: 24px;
    display: block;
    font-size: 13px
}
.post-avatar {
    float: left
}
.post-avatar img {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    height: 64px;
    width: 64px;
    padding: 0
}
.post-author-bio {
    margin-left: 80px;
    margin-top: 5px
}
#page-not-found {
    text-align: center;
    padding: 40px 0
}
#page-not-found .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 30px
}
#page-not-found .not-found {
    font-size: 83px;
    font-weight: 400;
    padding: 150px 0;
    position: relative;
    background: transparent url(../images/404-top.png) no-repeat top center
}
#page-not-found .not-found:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background: transparent url(../images/404-bottom.png) no-repeat bottom center;
    display: block;
    content: ''
}
.single.about>section {
    margin-bottom: 60px
}
.about-teams .name {
    font-size: 20px
}
.about-teams .position {
    font-family: open_sansbold;
    font-size: 14px
}
.single-contact .contact-main-wrapper .contact-section-title {
    margin: 40px 0
}
.single-contact .contact-main-wrapper .form-type-textfield.clearleft {
    clear: left
}
.single-contact .contact-main-wrapper .post-content {
    margin: 40px 0 20px
}
.single-contact .contact-main-wrapper .contact-text {
    margin-bottom: 30px
}
.single-contact .contact-main-wrapper .dl-horizontal dt {
    width: 25%;
    text-align: left;
    padding-left: 30px;
    position: relative;
    min-height: 30px
}
.single-contact .contact-main-wrapper .dl-horizontal dt:after {
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/contact-icon.png);
    background-repeat: no-repeat;
    background-color: transparent
}
.single-contact .contact-main-wrapper .address:after {
    background-position: 2px 0
}
.single-contact .contact-main-wrapper .phone:after {
    background-position: 2px -28px
}
.single-contact .contact-main-wrapper .fax:after {
    background-position: 2px -58px
}
.single-contact .contact-main-wrapper .email:after {
    background-position: 2px -88px
}
.single-contact .contact-main-wrapper .dl-horizontal dd {
    margin-left: 27%
}
@media (max-width: 768px) {
    .single-contact .contact-main-wrapper .dl-horizontal dt {
        padding-left: 30px;
        width: 100%;
        min-height: auto;
        margin-bottom: 15px
    }
    .single-contact .contact-main-wrapper .dl-horizontal dd {
        margin-left: 30px;
        width: 100%;
        margin-bottom: 15px
    }
}
.gv_panel img {
    width: 100%;
    height: auto
}
@media (max-width: 768px) {
    #slider {
        height: auto
    }
}
@media (max-width: 768px) {
    .col-xs-12.nopaddingleft,
    .col-sm-12.nopaddingleft {
        padding-right: 0
    }
    .col-xs-12.nopaddingright,
    .col-sm-12.nopaddingright {
        padding-left: 0
    }
    .style-boxed {
        margin: 5px 0;
        padding: 0;
        box-shadow: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0
    }
}
@media (min-width: 992px) {
    .max-fluid .container {
        width: 100%
    }
    .col-md-12.nopaddingleft {
        padding-right: 0
    }
    .col-md-12.nopaddingright {
        padding-left: 0
    }
}
@media (min-width: 1200px) {
    .max-960 .container {
        width: 960px
    }
    .col-lg-12.nopaddingleft {
        padding-right: 0
    }
    .col-lg-12.nopaddingright {
        padding-left: 0
    }
}

.danger-box {
    max-width: 600px;
    color: #fff;
}

.alert-primary {
    background-color: #0699E9;
    color: #fff;
    border: 2px solid black;
    border-radius: 10px     
}

.alert-danger {
    background-color: #0699E9;
    color: #000;
    border: 2px solid black;
    border-radius: 10px     
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default .navbar-text {
    color: #000;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #000;
    background-color: #e7e7e7;
}