<div ng-include="'components/navbar/navbar.html'"></div>


<div class="row" style="background-color:#06c;min-height:800px">
  <div class="container">
      <div class="col-sm-12" style="font-family: 'FFMark', 'Helvetica Neue', 'Helvetica', sans-serif; margin-top:50px;margin-bottom:50px; color:#fff">
        <h1 class="text-center">Verify a Document</h1>
        <h4 class="text-center">Enter a previously embedded  document hash or txid</h4>
      </div>
      <div class="col-sm-12" style="background-color: #fff; border-radius:15px;margin-top:15px">
        <div class="row" style="margin:50px">
          <form class="form" name="form" ng-submit="translateTxid(searchTerm)" novalidate>

            <div class="col-sm-12 text-left">
              <div class="row">
                <form class="navbar-form" role="search">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search" ng-model="searchTerm">
                      <div class="input-group-btn">
                          <button><i class="fa fa-search" style="font-size: 28px;"></i></button>
                      </div>
                  </div>
                </form>
              </div>
            </div>

          </form>

          <div class="col-sm-12" style="margin-top:15px; border-top: 1px solid">
            <div class="row">
              <div class="col-sm-12 text-center" style="height:100px; padding:25px">
                <h2>Search Results</h2>
              </div>
              <div class="col-sm-12" ng-if="searchResults">
                <div class="row" style="margin:50px">
                  <div class="text-left">
                    <hr>
                    <h4>Registered on DiguSign at: <medium style="color: #000; float:right">{{(searchResults.timeRegistered * 1000) | date:'medium'}}</medium></h4>
                    <h4>Embedded on the blockchain at: <medium style="color: #000; float:right" >{{(searchResults.timeBroadcast * 1000) | date:'medium'}}</medium></h4>
                    <h4>Document Digest: <medium style="color: #000; float:right"><a ng-href="/document/{{searchResults.hash}}" >{{searchResults.hash}}</a></medium></h4>
                    <h4>Document Transaction ID: <medium style="color: #000; float:right"><a ng-href="http://digiexplorer.info/tx/{{searchResults.txid}}">{{searchResults.txid}}</a></medium></h4>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>