<div class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarCtrl" style="padding:5px;box-shadow: 0 1px 3px rgba(0,0,0,0.2)">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="home-link" href="/" rel="home" title="DiguSign">
        <img class="animated rotateInDownLeft main-logo" src="assets/images/digibytelogo.png" alt="digibyte-logo">
      </a>
      <div class="branding">
        <h1 class="site-title animated fadeInLeft">
          <a class="home-link" href="/" rel="home" title="DiguSign" style="color: #06c">DiguSign</a>
        </h1>
        <h2 class="site-description animated fadeInRight">
          <a class="home-link" href="/" rel="home" title="DiguSign" style="color: #06c">it in the blockchain?</a>
        </h2>
      </div>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().userName }}</p> </li>
        <li class="dropdown open" ng-show="isLoggedIn()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/account/profile">Profile</a></li>
            <li><a href="/account/history">Document History</a></li>
            <li><a href="/account/settings">Change Password</a></li>
            <li><a href="/account/verify">Verify Account</a></li>
          </ul>
        </li>
        <li class="dropdown open" ng-show="isAdmin()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Admin Settings <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-show="isAdmin()"><a href="/admin/accounts">Accounts</a></li>
            <li ng-show="isAdmin()"><a href="/admin/wallet">Wallet</a></li>
          </ul>
        </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

      <div id="slides_control" style="box-shadow: 0 1px 3px rgba(0,0,0,1);">
        <div>
            <carousel interval="myInterval">
              <slide ng-repeat="slide in slides" active="slide.active">
                  <img ng-src="{{slide.image}}">
                  <div class="carousel-caption" style="margin-bottom:250px">
                    <h1>{{slide.text}}</h1>
                  </div>
              </slide>
            </carousel>
        </div>
      </div>
