.navbar-default .navbar-text {
    color: #06c;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
	color: #06c;
	font-weight: bold;
}

.navbar {
	background-color: #fff;
}

.site-title {
	color: #06c;
	font-weight: bold;
}

.site-title .home-link:first-letter {
	color: #06c;
	font-weight: bold;
}