<div ng-include="'components/navbar/navbar.html'"></div>


<div class="main" style="font-family: 'FFMark', 'Helvetica Neue', 'Helvetica', sans-serif;">
  

	<div class="container">

        <!-- Title -->
        <div class="row" style="margin-top:100px">
            <div class="col-lg-12 text-center">
                <h3><strong>DiguSign - Did you sign it?</strong></h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center" style="margin-bottom:75px; margin-top:25px">


            <div class="col-md-3 col-sm-6 hero-feature" >
                <div class="thumbnail" style="height:350px; padding:15px;">
                    <td class="icon"><i class="fa fa-search fa-4x text-center" style="margin-top:25px;margin-bottom: 20px; color:#06c"></i></td>
                    <div class="caption">
                        <h3><strong>Compare Documents!</strong></h3>
                        <p>Quickly and easily compare documents to ensure they haven't been altered </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail" style="height:350px; padding:15px">
                    <td class="icon"><i class="fa fa-database fa-4x text-center" style="margin-top:25px; margin-bottom: 20px; color:#06c"></i></td>
                    <div class="caption">
                        <h3><strong>Document stays private!</strong></h3>
                        <p>Be safe in the knowledge that your private documents are never uploaded to our servers</p>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail" style="height:350px; padding:15px">
                    <td class="icon"><i class="fa fa-file fa-4x text-center" style="margin-top:25px; margin-bottom: 20px; color:#06c"></i></td>
                    <div class="caption">
                        <h3><strong>Any type of file!</strong></h3>
                        <p>We support just about every file type imaginable! Want to certify a zip file? No Problem!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail" style="height:350px; padding:15px">
                    <td class="icon"><i class="fa fa-database fa-4x text-center" style="margin-top:25px; margin-bottom: 20px; color:#06c"></i></td>
                    <div class="caption">
                        <h3><strong>Digest stored forever with DigiByte!</strong></h3>
                        <p>The SHA256 Digest is stored forever on the DigiByte blockchain and can be looked up and verified at any time</p>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="row text-center" style="background-color:#06c">

        	<div class="container" style="margin-bottom:50px">


		        <div class="row" style="margin-top:50px">
		            <div class="col-lg-12">
		                <h3 style="color:#fff"><strong>How To Use DiguSign</strong></h3>
		            </div>
		        </div>

				<div style="width:100%;height:100%;max-width: 820px; height: 461.25px; float: none; clear: both; margin: 2px auto; margin-top:25px">
				  	<embed src="http://www.youtube.com/v/GlIzuTQGgzs?version=3&amp;hl=en_US&amp;rel=0&amp;autohide=1&amp;autoplay=0" wmode="transparent" type="application/x-shockwave-flash" width="100%" height="100%" allowfullscreen="true" title="Adobe Flash Player">
				</div>

        	</div>

    </div>

</div>


<div ng-include="'components/footer/footer.html'"></div>