#banner {
    background-image: url("../../assets/images/filing-cabinent.png");
        min-height: 60em;
    background-repeat:no-repeat;
    background-size:cover;
}

.input:-webkit-autofil {
    background-color:   #fff;
}

img{
  margin:auto;
  width: 100%;
  max-height: 460px;
}
#slides_control {
  position:relative;
  width:100%;
}

.icon{
    text-align: center;
}

