<div ng-include="'components/navbar/navbar.html'"></div>


<div class="row" style="background-color:#06c;min-height:800px">

  <div class="container">
      <div class="col-sm-12 text-center" style="margin-top:50px; margin-bottom:50px; color:#fff">
        <h1><strong>Signup</strong></h1>
      </div>
      <div class="col-sm-12" style="background-color: #fff; border-radius: 15px">
        <div class="row" style="margin:50px">
          <form class="form" name="form" ng-submit="register(form)" novalidate>

            <div class="form-group" ng-class="{ 'has-success': form.firstName.$valid && submitted,
                                                'has-error': form.firstName.$invalid && submitted }">
              <label>First Name</label>

              <input type="text" name="firstName" class="form-control" ng-model="user.firstName"
                     required/>
              <p class="help-block" ng-show="form.firstName.$error.required && submitted">
                A First Name is required
              </p>
            </div>

            <div class="form-group" ng-class="{ 'has-success': form.lastName.$valid && submitted,
                                                'has-error': form.lastName.$invalid && submitted }">
              <label>Last Name</label>

              <input type="text" name="lastName" class="form-control" ng-model="user.lastName"
                     required/>
              <p class="help-block" ng-show="form.lastName.$error.required && submitted">
                A lastName is required
              </p>
            </div>

            <div class="form-group" ng-class="{ 'has-success': form.userName.$valid && submitted,
                                                'has-error': form.userName.$invalid && submitted }">
              <label>Username</label>

              <input type="text" name="userName" class="form-control" ng-model="user.userName"
                     required/>
              <p class="help-block" ng-show="form.userName.$error.required && submitted">
                A username is required
              </p>
            </div>

            <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                                'has-error': form.email.$invalid && submitted }">
              <label>Email</label>

              <input type="email" name="email" class="form-control" ng-model="user.email"
                     required
                     mongoose-error/>
              <p class="help-block" ng-show="form.email.$error.email && submitted">
                Doesn't look like a valid email.
              </p>
              <p class="help-block" ng-show="form.email.$error.required && submitted">
                What's your email address?
              </p>
              <p class="help-block" ng-show="form.email.$error.mongoose">
                {{ errors.email }}
              </p>
            </div>

            <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                                'has-error': form.password.$invalid && submitted }">
              <label>Password</label>

              <input type="password" name="password" class="form-control" ng-model="user.password"
                     ng-minlength="3"
                     required
                     mongoose-error/>
              <p class="help-block"
                 ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                Password must be at least 3 characters.
              </p>
              <p class="help-block" ng-show="form.password.$error.mongoose">
                {{ errors.password }}
              </p>
            </div>

            <div>
              <button class="btn btn-inverse btn-lg btn-login" type="submit">
                Sign up
              </button>
              <a class="btn btn-default btn-lg btn-register" href="/login">
                Login
              </a>
            </div>

          </form>
        </div>
      </div>
  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>