<div ng-include="'components/navbar/navbar.html'"></div>


<div class="row" style="background-color:#06c;min-height:800px">
  <div class="container">
      <div class="col-sm-12 text-center" style="margin-top:50px; margin-bottom:50px; color:#fff">
        <h1 style="color:#fff"> <strong>Profile</strong></h1>
      </div>
      <div class="col-sm-12">
          <section ui-dashboardcard="ui-DashboardCard" >
            <header>
              <h3  class="ng-scope" style="padding:10px">General</h3>
            </header>
            <div>
              <div style="padding:5px;min-height:75px">
                <div>
                  <div class="col-sm-11" style="font-size:1.5em; color:#777; font-style: italic;">Name</div>
                  <div class="col-sm-11" style="font-size:2.0em">{{user.firstName}} {{user.lastName}}</div>
                </div>
                <a class="ng-scope" >edit</a>
              </div>
            </div>
            <div>
              <div style="padding:5px;min-height:75px">
                <div>
                  <div class="col-sm-11" style="font-size:1.5em; color:#777; font-style: italic;">Email</div>
                  <div class="col-sm-11" style="font-size:2.0em">{{user.email}}</div>
                </div>
              </div>
            </div>
            <div>
              <div style="padding:5px;min-height:75px">
                <div>
                  <div class="col-sm-11" style="font-size:1.5em; color:#777; font-style: italic;">Verified</div>
                  <div class="col-sm-11" style="font-size:2.0em">{{user.verifiedIdentification}}</div>
                </div>
              </div>
            </div>
            <div>
              <div style="padding:5px;min-height:125px">
                <div>
                  <div class="col-sm-11" style="font-size:1.5em; color:#777; font-style: italic;">Balance</div>
                  <div class="col-sm-11" style="font-size:2.0em">{{user.balance}}</div>
                </div>
              </div>
            </div>
          </section>
      </div>
  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>