[ui-DashboardCard] {
    width: calc(100% - 2rem);
    background: white;
    margin: 1rem 1rem 0;
    border: 1px solid #dddddd;
    border-radius: 0.5rem;
}

[ui-DashboardCard] > * + * {
    border-top: 1px solid #dddddd;
}

[ui-InlineForm] {
    width: 100%;
}

[ui-InlineForm] > a {
    padding: 1rem;
    color: #1F4F7F;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

.notify-box {
    max-width: 600px;
}