<div ng-include="'components/navbar/navbar.html'"></div>


<div class="row" style="background-color:#06c;min-height:800px">

  <div class="container">
      <div class="col-sm-12 text-center" style="margin-top:50px; margin-bottom:50px; color:#fff" ng-if="show">
          <h2><strong>Your account is not verified!</strong></h2>
          <p> To verify please upload your indentification documents here</p>

          <div class="col-sm-12 text-left" style="margin-left:55px; margin-top:15px">

            <div ngf-drop ng-model="files" class="upload-box" 
                ngf-drag-over-class="'dragover'" ngf-select="upload($file)">Drop your document here</div>
            <div ngf-no-file-drop ngf-select="upload($file)">File Drag/Drop is not supported for this browser</div>
          </div>
      </div>
      <div class="col-sm-12" ng-if="!show && user.verifiedIdentification === false">
          <h2 class="text-center">You have Submitted your Identification Details!</h2>
          <p> Your account will be verified soon</p>
      </div>
      <div class="col-sm-12" ng-if="user.verifiedIdentification === true">
          <h2 class="text-center">Your account has been fully verified!</h2>
      </div>
  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>