<div ng-include="'components/navbar/navbar.html'"></div>


<div class="row" style="background-color:#06c;min-height:800px">

  <div class="container" >

      <div class="col-sm-12 text-center" style="margin-top:50px; margin-bottom:50px; color:#fff">
        <div class="row" style="margin:50px">
          <label for="username"><h3><strong>Search By Username: </strong></h3></label>
          <input type="text" name="username" ng-model="userNameSearch">
          <label for="verified">Verified Accounts: </label>
          <input type="checkbox" name="verified" ng-model="verifiedSearch" ng-click="isVerified(verifiedSearch)">
          <label for="awaiting">Awaiting Verification: </label>
          <input type="checkbox" name="awaiting" ng-model="awaitingSearch" ng-click="awaitingVerification(awaitingSearch)">
        </div>
      </div>

      <accordion class="col-sm-12" style="background-color: #fff; border-radius:15px;margin-top:15px; margin-bottom:25px">

        <accordion-group ng-repeat="user in userObj | filter: {userName: userNameSearch } " style="background-color:#f4f4f4">
          <accordion-heading >
            <div>
              <i class="glyphicon glyphicon-credit-card"></i>
              <strong>{{user.firstName}} {{user.lastName}}</strong>
              <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}"></i>
            </div>
          </accordion-heading>

          <div class="row">

            <div class="col-sm-6" style="font-size:2em">
              Username: 
            </div>
            <div class="col-sm-4 text-left" ng-model="user" style="font-size:2em">
              {{user.userName}}
            </div>

          </div>
          <div class="row">

            <div class="col-sm-6" style="font-size:2em">
              Email: 
            </div>
            <div class="col-sm-4 text-left" ng-model="user" style="font-size:2em">
              {{user.email}}
            </div>

          </div>
          <div class="row">

            <div class="col-sm-6" style="font-size:2em">
              Verified: 
            </div>
            <div class="col-sm-4 text-left" style="font-size:2em">
              {{user.verifiedIdentification}}
            </div>

          </div>
          <div class="row" ng-if="user.awaitingVerification">

            <div class="col-sm-6" style="font-size:2em">
              Awaiting Verification: 
            </div>
            <div class="col-sm-4 text-left" style="font-size:2em">
              {{user.awaitingVerification}}
            </div>

          </div>
          <div class="row" ng-if="user.identificationFile">
            <div class="col-sm-6" style="font-size:2em">
              Identification Documents: 
            </div>
            <div class="col-sm-4 text-left">
              <a style="font-size:2em" ng-if="user.identificationFile" href="" ng-click="downloadImage(user)">View</a>
            </div>

          </div>
          <div class="row">

            <div class="col-sm-6" style="font-size:2em">
              Balance: 
            </div>
            <div class="col-sm-4 text-left" style="font-size:2em">
              {{user.balance}}
            </div>

          </div>
          <div class="row" style="margin-top:50px" ng-if="user.verifiedIdentification">

            <div class="col-sm-4" style="font-size:2em">
              Fund Account: 
            </div>
            <div class="col-sm-3 col-sm-offset-1 text-left">
              <input type="number" ng-model="amount" placeholder="Funding Amount">
            </div>
            <div class="col-sm-4 text-left" style="padding-left:50px">
              <btn class="btn" ng-click="fundAccount(user, amount)">Fund
              </btn>
            </div>

          </div>
          <div class="row" style="margin-top:50px"  ng-if="!user.verifiedIdentification">

            <div class="col-sm-4" style="font-size:2em">
              Verify Account: 
            </div>
            <div class="col-sm-4 col-sm-offset-4 text-left" style="padding-left:50px">
              <btn class="btn" ng-click="verify(user)">Verify
              </btn>
            </div>

          </div>
        </accordion-group>
      </accordion>

  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>