<div ng-include="'components/navbar/navbar.html'"></div>

<div class="row" style="background-color:#06c;min-height:800px">
  <div class="container" ng-init="getBalance()">

      <div class="col-sm-12 text-center" style="margin-top:50px; margin-bottom:50px; color:#fff">
        <h1>Wallet</h1>
      </div>
      <div class="col-sm-12">
          <section ui-dashboardcard="ui-DashboardCard" >
            <div>
              <div style="padding:5px;min-height:75px">
                <div>
                  <div class="col-sm-11" style="font-size:1.5em; color:#777; font-style: italic;">Current Address</div>
                  <div class="col-sm-11" style="font-size:2.0em">{{user.currentAddress}}</div>
                </div>
                <a class="ng-scope" >edit</a>
              </div>
            </div>
            <div>
              <div style="padding:5px;min-height:75px">
                <div>
                  <div class="col-sm-11" style="font-size:1.5em; color:#777; font-style: italic;">Balance</div>
                  <div class="col-sm-11" style="font-size:2.0em">{{balance}}</div>
                </div>
              </div>
            </div>
            <div>
              <div style="padding:5px;min-height:75px">
                <div>
                  <div class="col-sm-11" style="font-size:1.5em; color:#777; font-style: italic;">HD Seed</div>
                  <div class="col-sm-11" style="font-size:2.0em">{{user.hdSeed}}</div>
                </div>
              </div>
            </div>
          </section>
      </div>

  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>