<div ng-include="'components/navbar/navbar.html'"></div>

<div class="row" style="background-color:#06c;min-height:800px">

  <div class="container">

      <div class="col-sm-12 text-center" style="margin-top:50px; margin-bottom:50px; color:#fff">
        <h1><strong>Login</strong></h1>
      </div>
      <div class="col-sm-12" style="background-color: #fff; border-radius: 15px">
        <div class="row" style="margin:50px">
          <form class="form" name="form" ng-submit="reset(form)" novalidate>


            <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                                'has-error': form.password.$invalid && submitted }">
              <label>New Password</label>

              <input type="password" name="password" id="password" class="form-control" ng-model="user.password"
                     ng-minlength="3"
                     required
                     equals="{{user.confirmPassword}}"
                     mongoose-error/>
              <p class="help-block"
                 ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                Password must be at least 3 characters.
              </p>
              <p class="help-block" ng-show="form.password.$error.mongoose">
                {{ errors.password }}
              </p>
            </div>

            <div class="form-group">

              <label>Confirm Password</label>

              <input type="password" name"confirmPassword" class="form-control" ng-model="user.confirmPassword"
                required
                equals="{{user.password}}">

              <div class="msg-block" ng-show="form.$error">
                <span class="msg-error" ng-show="form.confirmPassword.$error">
                  Passwords don't match.
                </span>
              </div>
            </div>

            <div>
              <button class="btn btn-inverse btn-lg btn-reset" type="submit">
                Submit
              </button>
            </div>

          </form>
        </div>
      </div>
  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>